* {
    margin: 0;
}

.herosection {
    background: url(./image/pexels-abdghat-2608353.jpg), #000 ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.p-5 {
    padding: 4rem !important;
}

.px-5 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.logo {
    width: 10%;
}
.aboutherosection{
    background: url(./image/pexels-manpritkalsi-1537086.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media (max-width: 576px) {
    .p-5 {
        padding: 1rem !important;
    }

    .px-5 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .logo {
        width: 20% !important;
    }
}